<h1>About Allergyeet</h1>
<p>
  Allergyeet is a new web-based allergy-friendly restaurant finder. This system will allow users 
  to find restaurants near them that meet their specific dining needs. It will also allow restaurant 
  owners to add descriptions of the ingredients and methodologies they utilize to maintain an allergy-friendly 
  restaurant. We hope that this website will make it possible for those with allergies to get back to their lives
  and not have to worry about whether or not a restuarant is safe for them. 

  <br><br>*** We are not liable for the well-being or safety of any user that tries a new restaurant. 
  Please Yeet&trade; at your own risk!
</p>
