<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
    This is the coolest software engineering project that Muhlenberg has ever seen. <br/><br/>
    The Nut team consists of Jon Henry, Lauren Padko, Peter Phillips, Stef Mutter, and Emily Einhorn
    aka the dopest coders to walk the earth. <br/><br/> When we're not working on this project, the team enjoys making as many 
    nut jokes as possible and enjoying a glass or two of wine together. <br/> <br/> Nut for life!!!!! 
    </p>
  </body>
</html>