<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  For all complaints and legal matters, contact Muhlenberg College. <br/><br/>
  Specifically, contact Jorge Silveyra because this project is all his fault.
</p>