<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Welcome to the Nut help desk.
  <br><br>
  <br>Click 'Home' on the header in order to return to the sign-up page. 
  <br>Click 'Log in' on the header in order to sign into an account that was previously made. 
  <br>Click 'Search' on the header in order to search for a new restaurant to visit.
  <br>Click 'About' on the header in order to learn more about Nut.
  <br><br>Need more help? Please visit our <%= link_to "Contact page", contact_path %>.
</p>