<div class="my-container">
  <body>
  <img src="https://www.apellesdesign.com/wp-content/uploads/2018/04/res-1.jpg">

  <h1>Nut</h1>

  <h2>
    An allergy friendly restaurant finder for all.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <h2></h2>
  </body>
</div>
