<div class="center jumbotron">
  <h1>Allergyeet</h1>

  <h2>
    An allergy friendly restaurant finder for all.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
