<div class="center jumbotron">
<body background="https://www.apellesdesign.com/wp-content/uploads/2018/04/res-1.jpg">
  
  <h1>Nut</h1>

  <h2>
    Welcome to Nut, an allergy friendly restaurant finder for all.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
 
  <h2></h2>
    <img src="https://media.giphy.com/media/3o7TKBkyx27bWph7IQ/giphy.gif" alt="Dabbing Peanut" width="500" height="333">
</body>
</div>
