<li>
  <%= link_to restaurant.name, restaurant %>
  <% if current_user.admin? && !current_restaurant?(restaurant) %>
    | <%= link_to "delete", restaurant, method: :delete,
                                  data: { confirm: "Are you sure you want to delete this restaurant?" } %>
  <% end %>
</li>