<footer class="footer">
  <small>
    Nut designed by Jonathan Henry, Lauren Padko, Emily Einhorn, Stef Mutter, and Phillip Phillips
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '/static_pages/about' %></li>
      <li><%= link_to "Contact", '/static_pages/contact' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>