<footer class="footer">
  <small>
    Nut: created by Jon Henry, Emily Einhorn, Stef Mutter, Peter Phillips, and Lauren Padko
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>